* {
  box-sizing: border-box;
}

html {
  box-sizing: inherit;
  height: 100vh;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
}

header {
  display: grid;
  place-items: center;
  background: linear-gradient(to top, white,  rgb(160, 210, 240) 50%, white);
}

.social-sidebar {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
}

.sidebar-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  place-items: center left;
}

.list-item-link {
  padding: 0.3rem;
  width: 3rem;
  height: 3rem;
  transition: 0.3s ease-in-out width;
  display: grid;
  place-items: center;
  color: white;
}

#list-item-twitter {
  background-color: #58c76a;
}

#list-item-instagram {
  background-color: #1da0f2;
}

#list-item-twitch {
  background-color: #9146ff;
}

#list-item-facebook {
  background-color: #3b5998;
}

@media (hover) {
  .list-item-link:hover {
    background-color: coral;
    width: 4.2rem; /* Aca le cambia el width 
    cuando está en hover */
  }
}

.ozonoImagenContainer {
  padding: 1rem;
  display: grid;
  place-items: center; /* Centrar el contenido */
}

.ozonoImagen {
  width: 45%;
}

/* nav {
  padding: 1rem;
} 

ul {
  list-style: none;
  padding: 1rem;
  margin: 0;
  display: flex;
  align-items: center;
}

li {
  margin: 0 1rem;
} */

main {
  width: cover;
  height: cover;
  padding: 1rem;
  max-width: 1000px;
  margin: 0 auto;
}

.terapiaImagenContainer {
  display: grid;
  place-items: center;
  padding: 1rem 2.4rem; /* Le da un poco de espaciado alrededor */
}

.terapiaImagen {
  width: 100%;
  border: 3px solid;
  max-width: 31.25rem; /* ~ 500px */
  border-radius: 0.5rem;
}

.picturesContainer {
  display: grid;
  place-items: center;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 1rem;
  margin: 0 auto;
  padding: 1rem 2.4rem;
}

.prototypeImagen,
.boardImagen {
  width: 100%;
}

@media (max-width: 400px) {
  .productContainer {
    width: 100%;
  }
}

.productImagen {
  width: 100%;
}

.productVideo {
  width: 100%;
}

h2 {
  margin: 2rem 1rem 1.3rem 1rem;
  text-align: center;
  font-size: 2rem;
  text-shadow: -1px -1px 1px #aaa, 0px 1px 1px rgba(0, 0, 0, 0.5),
    3px 3px 5px rgba(0, 0, 0, 0.2), 0px 0px 7px rgba(0, 0, 0, 0.2);
}

p {
  padding: 0 1.2rem;
  margin: 1.2rem;
  font-family: Helvetica, 'Times New Roman', sans-serif;
  line-height: 20px;
  text-indent: 40px;
}

.bold {
  font-weight: bold;
}
